$main-font: 'Verdana';
$black-color: #2b2b2b;
$blue1-color: #7DBFED;
$blue2-color: #7BBFED;

body {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #EEEEEE;
  margin: 0px 8px 8px 8px;
}

.header {
  height: 50px;
  width: 100%;
  box-shadow: 0 0 5px 0 $black-color;
  min-width: 340px;
  background-color: #EDBF7B;

  p {
    font-family: $main-font;
    margin: 0;
    padding-top: 13px;
    padding-left: 30px;
    font-size: 15pt;
    font-weight: bold;
  }
}

#form {
  margin-top: 10px;
  padding-left: 30px;

  #search {
    font-family: $main-font;
    font-size: 12pt;
    font-weight: bold;

    /* поиск */
    #cityName {
      font-family: $main-font;
      height: 17pt;
      border-radius: 8px;
      border: 2px solid #ccc;
      margin-top: 3px;
      width: 25%;
      color: $black-color;
      padding-left: 10px;
      font-size: 12pt;
    }
  }

  /* кнопка поиска */
  .button {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding-top: 3px;
    margin-left: 3px;
    background: #eaeef1;
    background-image: linear-gradient($blue1-color, $blue2-color);
    border-radius: 3px;
    color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
  }
}

.content {
  padding-left: 30px;
  margin-top: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  height: 50px;
  position: fixed;
  width: 100%;
  min-width: 340px;
  white-space: nowrap;

  .contentElement {
    font-family: $main-font;
    font-size: 12pt;
    line-height: 50px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    background-color: $blue1-color;
    box-shadow: 0 0 5px 0 $black-color;
  }

  .contentSpacer {
    flex-grow: 2;
  }
}



